{% extends 'public_html.html' %}

{% block mystyle %}
{% endblock %}

{% block mycontent %}

    <!--主体内容-->
   <div class="content">
		<div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"  style="background-color: #00FFFF;height: 60%">
                    <img src="../static/img/四叶草.jpg" width="100%">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1" style="background-color:rosybrown">
                    2
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1" style="background-color: #00FFFF">
                    3
                </div>
            </div>
		</div>
	</div>

{% endblock %}




