<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
        <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">

        <style type="text/css">
            .ui.segment.container {
                width:700px;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-size:18px;
            }

            body {
                background:url({% static 'images/about.gif'%});
                background-size:cover;
                background-repeat:no-repeat;
                background-attachment:fixed
            }
            .ui.container.nav {
                width: 50%;
                height: 10%;
            }
            /* .main
            {
                width: 77%;
                MARGIN-RIGHT: auto; 
                MARGIN-LEFT: auto;
                background:url({% static 'img/21.jpg'%});
                background-size:cover;
                background-repeat:no-repeat;
                background-attachment:fixed
            } */

        </style>
        <script>
            $(document).ready(function() {
                $('.tabular.menu .item').tab(); // [2] 使能够点击切换 tab
            });
            function myFunction()
            {
                alert("Hello World!");
            }
        </script>
    </head>
    <body>
        <div class="ui inverted vertical grey segment" style="height: auto;background-image: url({% static 'images/bghead.jpg'%});">
                <div class="ui container nav">
                    <div class="ui borderless text four item menu ">
                        <a class="item" href="http://127.0.0.1:8000/index/"  style="color:GhostWhite;">
                            首页
                        </a>
                        <div class="ui dropdown simple item"  style="color: GhostWhite;">
                            分类
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="http://127.0.0.1:8000/index/?tag=life" style="color: GhostWhite;">生活</a>
                                <a class="item" href="http://127.0.0.1:8000/index/?tag=tech" style="color: GhostWhite;">技术</a>
                            </div>
                        </div>
                        <a class="item" style="color: GhostWhite;" href="http://127.0.0.1:8000/personal/">
                            个人博客
                        </a>
                        <div class="item">
                            <div class="ui large icon input">
                                <input type="text" placeholder="文章标题">
                                    <i class="search link icon"></i>
                            </div>
                        </div>
                        <a class="item" style="color: GhostWhite;" href="http://127.0.0.1:8000/write/">
                            随心说
                        </a>
                        <a class="item" style="color: GhostWhite;" href="http://127.0.0.1:8000/about/">
                            关于我
                        </a>
                        <!-- <div class="item">
                            <img class="ui circular image" src="{% static 'img/21.jpg'%}" height="40px" width="40px">
                        </div> -->
                        
                                {% if massage_list %}
                                    <div class="item">
                                        <h1 class="ui inverted header">
                                            <div class="ui avatar image">
                                                {% if massage_list.profile_image %}
                                                    <img src="/profile_image/{{massage_list.profile_image}}"/>
                                                {% else %}
                                                    <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                                                {% endif %}
                                            </div>
                                            <a href="http://127.0.0.1:8000/about/">
                                                <span style="padding-left;:1px; color:MistyRose;">{{ massage_list.name }}</span>
                                            </a>
                                        </h1>
                                    </div>
                                    <div class="item">
                                            <form method="POST">
                                                    {{ consumer_form }}
                                                    {% csrf_token %}
                                                    <button type="submit" class="ui inverted circular button" name="exit" >退出</button>
                                                </form>
                                        
                                        <!-- <a href="http://127.0.0.1:8000/register/" class="ui inverted circular button" onclick="myFunction()">退出</a> -->
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <h1 class="ui inverted header">
                                            <!-- <div class="ui avatar image">
                                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                                            </div> -->
                                            <a href="http://127.0.0.1:8000/about/">
                                                <span style="padding-left;:1px; color:MistyRose;">游客</span>
                                            </a>
                                        </h1>
                                    </div>
                                    <!-- <div class="item">
                                        <h5 class="ui inverted header">
                                            <span style="margin-right:20px;">{{ request.user.username }}</span>
                                            <div class="ui mini circular image">
                                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                                            </div>
                                        </h5>
                                    </div> -->
                                    <div class="item">
                                        <a href="http://127.0.0.1:8000/login/" class="ui inverted circular button">注册/登录</a>
                                    </div>
                                {% endif %}
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui  segment padded container" style="height: auto;">
                <p class="ui huge header center aligned">个人资料</p>
                {% if massage_list %}
                <p class="ui large header center aligned">个人id:{{ massage_list.id }}</p>
                {% endif %}
                <div class="ui divider"></div>
                    <div class="ui centered card">
                        <div class="image">
                            <img class="ui image" src="{% static 'img/11.gif'%}" style="height: 257px;">
                        </div>
                        <div class="content">
                        {% if massage_list %}
                            <div class="ui top attached tabular menu">
                                <a class="item active" data-tab="first">个人信息</a>
                                <a class="item" data-tab="second">修改信息</a>
                                <!-- <a class="item active" data-tab="third">第三</a> -->
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="first">
                                <a class="header">
                                    <h>昵称:</h>
                                    <h style="margin-left: 27px;">{{ massage_list.name }}</h>
                                </a>
                                <p></p>
                                <div class="meta">
                                    <span class="date">
                                        <h >Email:</h>
                                        <h style="margin-left: 27px;">{{ massage_list.Email }}</h>
                                    </span>
                                </div>
                                <p></p>
                                <div class="meta">
                                    <span class="date">
                                        <h>生日:</h>
                                        <h style="margin-left: 27px;">{{ massage_list.birth }}</h>
                                    </span>
                                </div>
                                <p></p>
                                <div class="meta">
                                    <span class="date">
                                        <h>实名:</h>
                                        <h style="margin-left: 27px;">{{ massage_list.实名 }}</h>
                                    </span>
                                </div>
                                <p></p>
                                <div class="description">
                                    <h>个性签名:</h>
                                    <h style="margin-left: 27px;">{{ massage_list.个性签名 }}</h>
                                </div>
                                <p></p>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="second">
                                    <form class="ui error tiny form"  method="post">
                                        {% if form.errors %}
                                            <div class="ui error message">
                                                {{ form.errors }}
                                            </div>
                        
                                            {% for field in form %}
                                                <div class="{{ field.errors|yesno:'error, '}} field">
                                                    {{ field.label }}
                                                    {{ field }}
                                                </div>
                                            {% endfor %}
                        
                                        {% else %}
                                            {% for field in form %}
                                                <div class="field">
                                                    {{ field.label }}
                                                    {{ field }}
                                                </div>
                                            {% endfor %}
                        
                                        {% endif %}
                                        <!-- 用于自我验证个人的信息 -->
                                        {% csrf_token %}
                    
                                        <div>
                                            <button type="submit" class="ui blue button" name="input">发布</button>
                                            <a href="http://127.0.0.1:8000/index/">
                                                <button type="button" class="ui right floated brown button" >返回</button>
                                            </a>
                                        </div>
                                    </form>
                            </div>
                        </div>
                        <!-- <div class="extra content">
                            <a>
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div> -->
                    {% endif %}
                    </div>
                <!-- <div class="ui center aligned very padded vertical segment container">
                    <button class="ui button center aligned">编辑</button>
                </div> -->
            </div>
            <div class="ui divider"></div>
    </body>
</html>
