{% extends 'public_html.html' %}

{% block mystyle %}
    <style>
        .list-group-item .row{
            padding: 10px;
            padding-bottom: 1px;
        }
    </style>
{% endblock %}

{% block mycontent %}

<!--主体内容-->
<div class="content" style="margin: 10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-1 col-xs-1" style="height:400px">
                <img src="../static/goods_pic/{{ lis['pic'] }}" width="88%" height="260px" class="center-block myimg">
                <!--                    <div class="center-block"-->
                <!--                         style="border: 1px solid darkseagreen;box-sizing: border-box;padding: 3px;width: 88%">-->
                <!--                         -->
                <!--                        <img src="../static/img/l1-6.png" class="pull-left">-->
                <!--                        <img src="../static/img/good01.jpg" style="width: 20%;height: 42px;margin-left: 1px" class="timg01">-->
                <!--                        <img src="../static/img/good02.jpg" style="width: 20%;height: 42px;margin-left: 1px" class="timg02">-->
                <!--                        <img src="../static/img/good03.jpg" style="width: 20%;height: 42px;margin-left: 1px" class="timg03">-->
                <!--                        <img src="../static/img/r1-6.png" class="pull-right">-->
                <!--                        <div class="clearfix"></div>-->
                <!--                        <script>-->
                <!--                            var pic = ['../static/img/四叶草.jpg','../static/img/p3.jpg']-->
                <!--                            $('.timg01').mouseenter(function () {-->
                <!--                                a = $(".timg01")[0].src;-->
                <!--                                $(".myimg").attr('src',a);-->
                <!--                            });-->
                <!--                            $('.timg02').mouseenter(function () {-->
                <!--                                a = $(".timg02")[0].src;-->
                <!--                                $(".myimg").attr('src',a);-->
                <!--                            });-->
                <!--                            $('.timg03').mouseenter(function () {-->
                <!--                                a = $(".timg03")[0].src;-->
                <!--                                $(".myimg").attr('src',a);-->
                <!--                            })-->
                <!--                        </script>-->
                <!--                    </div>-->
            </div>
            <div class="col-lg-7 col-md-7 col-sm-1 col-xs-1">

                <h3>
                    {{ lis['name'] }}
                </h3>

                <br>
                <div style="background-color:#EBEBEB;">
                    <div>
                        <h3 style="color: red;" class="pull-left">
                            <!--                                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>-->
                            <!--                                秒杀预告-->
                            <!--                                <small>6月6日00:00秒杀价￥30</small>-->
                        </h3>
                        <h3 class="pull-right">
                            <!--                                <small>距离开始还剩</small>-->
                            <!--                                &nbsp;-->
                            <!--                                <div class="pull-right s" style="background-color: #CDCDB4;padding-bottom: 3px;">26</div>-->
                            <!--                                <div class="pull-right">:</div>-->
                            <!--                                <div class="pull-right min" style="background-color: #CDCDB4;padding-bottom: 3px;">03</div>-->
                            <!--                                <div class="pull-right">:</div>-->
                            <!--                                <div class="pull-right hour" style="background-color: #CDCDB4;padding-bottom: 3px;">13</div>-->
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <br>
                    <div>
                        <h4 class="pull-left" style="color: red;">
                            <small>&nbsp;随 风 价&nbsp;</small>
                            ￥{{ lis['price'] }} &nbsp;
                            <!--                                <small style="color:blue;">降价通知</small>-->
                        </h4>
                        <h4 class="pull-right">
                            <small>累计评价&nbsp;</small>
                            {{ com_len }}&nbsp;&nbsp;
                        </h4>
                        <h4 class="pull-right" style="color: red">
                            <small>总售量&nbsp;</small>
                            {{ lis['sales'] }}件&nbsp;&nbsp;
                        </h4>
                        <div class="clearfix"></div>
                    </div>

                    <!-- <div>
                        促　　销
                    </div> -->

                    <div class="clearfix"></div>
                    <br>

                </div>
                <br>
                <div>
                    <!--                        <h4 class="pull-left" style="padding-top: 5px;">-->
                    <!--                            配 送 至-->
                    <!--                        </h4>-->
                    <!--                        &nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--                        <select>-->
                    <!--                            <option value="province">请选择省份</option>-->
                    <!--                        </select>-->
                    <!--                        &nbsp;-->
                    <!--                        <select name="city" id="">-->
                    <!--                            <option value="city">请选择城市</option>-->
                    <!--                        </select>-->
                    <!--                        &nbsp;-->
                    <!--                        <select name="county" id="">-->
                    <!--                            <option value="county">请选择县城</option>-->
                    <!--                        </select>-->
                    <br>
                    <br>
                    <h4>
                        <small>
                            有货
                        </small>
                        在线支付免运费
                    </h4>
                </div>
                <br>
                <div>
                    <div class="pull-left">
                        <input id="num" class="pull-left" type="text" value="1"
                               style="width: 50px;height:50px; text-align: center;">
                        <div class="pull-left">
                            <button id="add" class="btn" type="button" style="height: 25px;width: 10px;display: block;">
                                +
                            </button>
                            <button id="sub" class="btn" type="button" style="height: 25px;width: 10px;display: block;">
                                -
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <script>
                            $('#add').click(function () {
                                var num = Number($('#num').val()) + 1;
                                $('#num').val(num)
                            });
                            $('#sub').click(function () {
                                var num = Number($('#num').val()) - 1;
                                if (num >= 0) {
                                    $('#num').val(num)
                                } else {

                                }

                            });
                        </script>
                        <div class="clearfix"></div>
                    </div>
                    <button id="add_cart" type="button" class="btn btn-danger pull-left"
                            style="height:50px;margin-left: 20px;">加入购物车
                    </button>
                    <!--
                    <button id="pay" type="button" class="btn btn-warning pull-left"
                            style="height:50px;margin-left: 20px;">直接购买
                    </button>
                    -->
                    <div class="clearfix"></div>
                    <script>
                        if(window.localStorage.getItem('uname')){
                            $('#add_cart').click(function () {
                            var num = Number($('#num').val())
                            console.log('556789');
                            console.log(num);
                            gid = {{ lis['gid'] }}
                            $.ajax({
                                type:'post',
                                url:'http://127.0.0.1:5000/single',
                                data:JSON.stringify({
                                    'uname':window.localStorage.getItem('uname'),
                                    'gid':gid,
                                    'num':num,
                                }),
                                contentType:'application/json',
                                dataType:'json',
                                success:function (data) {
                                    if(data.code == 200){
                                        alert('添加成功!');
                                        window.location.reload()
                                    }
                                    else {
                                        alert('服务器正忙,请稍后再试!');
                                    }
                                },
                                error:function () {
                                    console.log('error')
                                }
                            });
                        });
                        }
                    </script>
                </div>
                <br>
                <div>
                    <h4>
                        温馨提示
                        <small>·支持7天无理由退货</small>
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- 导航区 -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active nav_left introduce" style="width: 25%;text-align: center;">
                    <a href="#introduce" role="tab" data-toggle="tab">商品介绍</a>
                </li>
                <li role="presentation" class="nav_right specifications" style="width: 25%;text-align: center;">
                    <a href="#specifications" role="tab" data-toggle="tab">规格与包装</a>
                </li>
                <li role="presentation" class="nav_right after-sales" style="width: 25%;text-align: center;">
                    <a href="#after-sales" role="tab" data-toggle="tab">售后保障</a>
                </li>
                <li id="con_li" role="presentation" class="nav_right evaluation" style="width: 25%;text-align: center;">
                    <a id="con_a" href="#evaluation" role="tab" data-toggle="tab">商品评价({{ com_len }})</a>
                </li>
                <div class="clearfix"></div>
            </ul>
            <!-- 面板区 -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="introduce" style="padding: 10px;">
                    <div class="container">
                        <h3 class="text-center" style="margin-bottom: 20px;margin-top: 20px;">
                            品牌:
                            <small style="color:#9B30FF;"> {{ lis['title'] }} </small>
                        </h3>
                        <h4 class="text-center" style="margin-bottom: 20px;">
                            商品编号：{{ lis['gid'] }}
                        </h4>
                        <h4 class="text-center" style="margin-bottom: 20px;">
                            商品毛重：{{ lis['weight'] }}kg
                        </h4>
                        <h4 class="text-center" style="margin-bottom: 20px;">
                            商品产地：{{ lis['loc'] }}
                        </h4>
                        <h4 class="text-center" style="margin-bottom: 20px;">
                            分类：{{ lis['name'] }}
                        </h4>
                        <h4 class="text-center" style="margin-bottom: 20px;">
                            生长环境：其它
                        </h4>
                        <h4 class="text-center">
                            <a id="a" href="#specifications" role="tab" data-toggle="tab">更多参数>></a>
                        </h4>
                        <script>
                            $('#a').click(function () {
                                console.log(555)
                                $('.introduce').attr('class', 'nav_left introduce')
                                $('.specifications').attr('class', 'active nav_left specifications')
                            })
                        </script>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="specifications">
                    <div class="container">
                        <div>
                            <div class="pull-left" style="padding: 50px; margin-left: 100px;">
                                <h3>主体:</h3>
                            </div>
                            <div class="pull-left" style="padding: 50px;">
                                <h4>
                                    净含量 2
                                </h4>
                                <br>
                                <h4>
                                    保质期 2
                                </h4>
                                <br>
                                <h4>
                                    贮存条件 控温10-15℃
                                </h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div style="padding-left: 150px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">卖家服务</h3>
                                <br>
                                <p>
                                    “优鲜赔”：随风平台第三方卖家销售的生鲜商品如出现破损或腐坏等问题，
                                    请在商品签收后48小时内提交“优鲜赔”申请。
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">承诺</h3>
                                <br>
                                <p>
                                    随风平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">正品行货 </h3>
                                <br>
                                <p>
                                    随风商城向您保证所售商品均为正品行货，随风自营商品开具机打发票或电子发票。
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <h4 style="color: red; margin-bottom: 5px;">
                                权利声明：
                            </h4>
                            <h5>
                                商城上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是商城重要的经营资源，未经许可，禁止非法转载使用。
                            </h5>
                            <h5>
                                注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。
                            </h5>
                            <br>
                            <h4 style="color: red;margin-bottom: 5px;">
                                价格说明：
                            </h4>
                            <h5>
                                <b>随风价：</b>
                                京东价为商品的销售价，是您最终决定是否购买商品的依据。
                            </h5>
                            <h5>
                                注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。
                            </h5>
                            <h5 style="padding-top: 5px;">
                                <b>划线价</b>
                                商品展示的划横线价格为参考价，并非原价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价
                                （如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；
                                由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。
                            </h5>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="after-sales">
                    <div class="container">
                        <div style="padding-left: 150px; margin-top: 50px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">卖家服务</h3>
                                <br>
                                <p>
                                    “优鲜赔”：随风平台第三方卖家销售的生鲜商品如出现破损或腐坏等问题，
                                    请在商品签收后48小时内提交“优鲜赔”申请。
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">承诺</h3>
                                <br>
                                <p>
                                    随风平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <div class="pull-left" style="margin-right: 50px;">
                                <h2>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </h2>
                            </div>
                            <div class="pull-left">
                                <h3 style="color: red;">正品行货 </h3>
                                <br>
                                <p>
                                    随风商城向您保证所售商品均为正品行货，随风自营商品开具机打发票或电子发票。
                                </p>
                                <!-- <p>
                                    如客户提交申请时间在商家工作时间内（工作日：9:00-18:00，不包括周六日、春节假期及十一假期），
                                    商家100分钟内审核通过后即享补偿，无需返回商品；
                                </p> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div style="padding-left: 150px;">
                            <h4 style="color: red; margin-bottom: 5px;">
                                权利声明：
                            </h4>
                            <h5>
                                商城上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是商城重要的经营资源，未经许可，禁止非法转载使用。
                            </h5>
                            <h5>
                                注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。
                            </h5>
                            <br>
                            <h4 style="color: red;margin-bottom: 5px;">
                                价格说明：
                            </h4>
                            <h5>
                                <b>随风价：</b>
                                京东价为商品的销售价，是您最终决定是否购买商品的依据。
                            </h5>
                            <h5>
                                注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。
                            </h5>
                            <h5 style="padding-top: 5px;">
                                <b>划线价</b>
                                商品展示的划横线价格为参考价，并非原价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价
                                （如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；
                                由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。
                            </h5>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="evaluation">
                    <div class="container">
                        <br>
                        <header>
                            <h1 class="text-center">
                                <strong class="text-success">商品</strong>
                                <small>
                                    评价
                                </small>
                            </h1>
                        </header>
                        <br>
                        <div class="context">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <!-- 组件，列表组 -->
                                    <div class="list-group">
                                        <div class="list-group-item" id="content">

                                        </div>
                                        <!-- <div class="list-group-item">
                                            <p class="text-center">
                                                感谢您的使用!
                                            </p>
                                        </div>     -->
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <!--
                                    <div class="form-group">
                                        <label for="uname">Name</label>
                                        <input type="text" class="form-control" id="uname" placeholder="">
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <label for="centent">评价:</label>
                                        <textarea id="centent" class="form-control" rows="5"></textarea>
                                    </div>
                                    <br>
                                    <button id="sub_con" type="button" class="btn btn-default center-block">发表</button>
                                </div>
                            </div>

                            <script>
                                $('#con_li').click(function () {
                                        console.log('5555')
                                    //是否可以继续向下滚动
                                    canLoad = true
                                    function AddContent(data){
                                            var str = ''
                                            color = ['warning','danger','primary','success','info']
                                            if(data.code==200){
                                                console.log(data.datas)
                                                $.each(data.datas,function(i,obj){
                                                str += '<div class="person_con row bg-'+color[(i+1)%5-1]+'">'
                                                str += '<a href="#" class="pull-left">'
                                                str += '<h4 class="text-success">'
                                                str += obj.username
                                                str += '<small>'
                                                str += '第'+obj.num+'条评论'
                                                str += '</small>'
                                                str += '</h4>'
                                                str += '</a>'
                                                str += '<h4 class="pull-right">'
                                                str += obj.time
                                                str += '</h4>'
                                                str += '<div class="clearfix"></div>'
                                                str += '<p>'
                                                str += '<h5>'
                                                str += obj.content
                                                str += '</h5>'
                                                str += '</p>'
                                                str += '</div>'
                                                })
                                                $('#content').append(str)
                                            }
                                            else{
                                                alert(data.data)
                                                canLoad = false
                                                str += '<div class="list-group-item">'
                                                str += '<p class="text-center">'
                                                str += '感谢您的使用!'
                                                str += '</p>'
                                                str +='</div>'
                                                $('.list-group').append(str)
                                            }
                                        }
                                    uname = window.localStorage.getItem('uname')
                                    gid = {{ lis['gid'] }}
                                    $.ajax({
                                        url:"http://127.0.0.1:5000/add_content?gid="+gid,
                                        dataType:"json",
                                        type:"get",
                                        success:function(res){
                                            console.log(res)
                                            AddContent(res)
                                        },
                                        error:function(){
                                            console.log("404!")
                                        }
                                    })

                                    // 滚动条事件
                                    // window.onscroll = function(){
                                    //     console.log("start")
                                    // }
                                    //jquery滚动条事件
                                    $(document).scroll(function(){
                                        // 获取当前滚动条的高度(green)
                                        var scrollT = $(document).scrollTop()
                                        // 获取可视范围的高度
                                        var windowH = $(window).height()
                                        // 获取完整文档的高度
                                        var documentH = $(document).height()
                                        // console.log(scrollT,windowH,documentH)
                                        if(scrollT + windowH == documentH){
                                            console.log('到底了...')
                                            //向服务端发生请求，获取10条数据
                                            var size = $('.person_con').length;
                                            console.log(size)
                                            if(canLoad){
                                                $.ajax({
                                                url:"http://127.0.0.1:5000/add_content?size="+size+"&gid="+gid,
                                                dataType:'json',
                                                type:'get',
                                                success:function(res){
                                                    AddContent(res)
                                                },
                                                error:function(){
                                                    console.log("404!")
                                                }
                                                })
                                            }
                                        }
                                    })
                                });
                            </script>
                            <script>
                                $('#sub_con').click(function(){
                                    var content = $('#centent').val()
                                    console.log(content)
                                    if(content){
                                        $.ajax({
                                            url : "http://127.0.0.1:5000/add_content",
                                            type : 'post',
                                            dataType:'json',
                                            contentType:'application/json',
                                            data : JSON.stringify({
                                                username:window.localStorage.getItem('uname'),
                                                content :content,
                                                gid :{{ lis['gid'] }}
                                            }),
                                            success: function(res){
                                                console.log(res)
                                                alert(res.msg)
                                                window.location.reload();
                                            },
                                        })
                                    }
                                    else{
                                        alert('请填写内容!')
                                    }
                                })
                            </script>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


