{% extends 'public_html.html' %}

{% block mystyle %}
{% endblock %}

{% block mycontent %}

    <!--主体内容-->
    <div class="content">
		<div class="container">
			<div class="article-top">
				<h3>关于我们</h3>
				<div class="article-bottom">
					<div class="col-md-4 article-para">
						<a href="/index">
							<img src="../static/img/aboutme_logo.png" alt="image" class="img-responsive zoom-img">
						</a>
					</div>
					<div class="col-md-8 article-head">
						<h4 style="text-align: center;">
							<a href="/index">
								扶贫农产品销售网站
							</a>
						</h4>
						<p></p>
						<p style="font-size: large;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在互联网信息时代的不断发展下，越来越多的政策，措施网络化。
							精准扶贫作为我国的一项重大战略决策，扶贫农产品的销售的系统化和规范化也成为当务之急。
						</p>
						<p style="font-size: large;">
							精准扶贫作为我国的一项重大战略决策，扶贫农产品的销售的系统化和规范化也成为当务之急。
						</p>
						<p style="font-size: large;">
							在互联网+的推动下,线上交易成为了人们便利可靠的一种主要途径.
							互联网+农产品与互联网+扶贫农产品销售的发展迫在眉睫.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="article-bottom">

					<div class="col-md-8 article-head">
						<h4><a href="#">实现途径</a></h4>
						<p></p>
						<p style="font-size: large;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在互联网+与大数据飞速发展下，人们离不开互联网，然而作为服务行业用户需要的并不是仅仅是便利快捷的功能，
							同时也需要满足用户的审美需求,通过科技感、清晰明了的网站界面来展示。
							本扶贫农产品的销售网站采用Python开发语言设计与flask框架来搭建网站，
							通过相应的接口来连接数据库，达到数据实时更新的效果，
							而界面部分则遵循WebUI的设计规范，利用PS及UI来设计整体网站的样式
						</p>
						<p style="font-size: large;">
							根据对农产品销售网站操作的需求，设计了的相应架构，
							网站的架构采用flask框架来进行设计，
							将系统按照要求分为不同的功能模块，
							主要包括：前台和后台功能模块，
							各模块之间相互独立又相互协作,
							充分体现了面向对象编程语言的六大原则，
							增强了系统的维护性和扩展性。
						</p>
					</div>
					<div class="col-md-4 article-para">
						<a href="/index">
							<img src="../static/img/aboutme_logo01.jpg" alt="image" class="img-responsive zoom-img">
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}


