<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>demo</title>
    <style>
        div.container{
            height: 500px;
            background-color: antiquewhite;
        }
        div.container-fluid{
            height: 100px;
            /* width: 60%; */
            background-color: aquamarine;
        }
        .row div{
            height: 30px;
            background-color: beige;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid"></div>
    <div class="container">
        <h1>测试bootstarp样式</h1>
        <div class="row">
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">col-lg-4</div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">col-lg-4</div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">col-lg-4</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">col-lg-6</div>
            <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">col-lg-6</div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">col-lg-8</div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">col-lg-4</div>
        </div>
    </div>
    <!-- <div class="container-fluid"></div> -->
</body>

</html>