<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        header,
        nav {
            position: relative;
        }

        nav {
            background-color: white;
            width: 100%;
            height: 120px;
            /* border: 1px solid black; */
            padding: 20px 15px;
            margin-top: -60px;
            box-shadow: 0 0 5px #ccc;
            margin-bottom: 20px;
        }
        .content img{
            width: 100%;
            height: 100%;
            /* scale()缩放图片:90%大小 */
            /* 当鼠标移入时将图片变为原本大小 */
            transform: scale(0.9);
            transition: 03s;
        }
        .content:hover img{
            transform: scale(1);
            /* transition: 03s; */
        }
    </style>
</head>

<body>
    <header>
        <img class="img-responsive" src="../static/img/xueyuan.png" alt="">
    </header>
    <div class="container">
        <nav>
            <div class="row">
                <div class="col-lg-1 col-md-1">
                    <h4><strong>班级:</strong></h4>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>1912</h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>1912</h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>1912</h5>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1">
                    <h4><strong>地点:</strong></h4>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>南京明故宫中心</h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>南京明故宫中心</h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="#">
                        <h5>南京明故宫中心</h5>
                    </a>
                </div>
            </div>
        </nav>
        <section>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-7.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-6.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-5.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-4.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-7.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-6.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-5.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-4.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-7.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-6.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-5.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="thumbnail content">
                        <img src="../static/img/news-img-4.jpg" alt="">
                        <p class="caption">
                            <a href="#">
                                优秀学员作品
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>