<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>load</title>
</head>

<body>
    <button id="btn">显示load_server的内容</button>
    <div id="show"></div>
    <script src="../static/jquery.min.js"></script>
    <script>
        $('#btn').click(function () {
            //加载页面内容到指定元素
            // $('#show').load('/load_server')
            //加载远程页面某一个元素
            // $('#show').load('/load_server #btn2')
            //传输数据(字符串/对象)
            //字符串为get方式传输
            // $('#show').load('/load_server', 'uname=Tom&age=18')
            //对象为post方式传输
            $('#show').load('/load_server',jsp={uname:"Jarry",age:20})
        })
    </script>
</body>

</html>