<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="../../static/assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">

            <!-- 用户信息 -->
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span id="all_user">总用户数</span>
                                </div>
                                <div class="total all_user">{{ users_count }}&nbsp;&nbsp;人</div>
                            </div>
                        </div>

                        <!-- <div class="chart-body">
                            <div class="contentwrap">
                                fsdfdsf
                            </div>
                        </div> -->
                       <div class="chart-footer">
                            <div class="field">
                                <br>
                                <!-- <span>日添加量</span>
                                <span>321</span> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 商品信息 -->
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span id="all_goods">总商品数</span>
                                </div>
                                <div class="total all_goods">{{ goods_count }}&nbsp;&nbsp;件</div>
                            </div>
                        </div>



                        <div class="chart-footer">
                            <div class="field">
                                <br>
                                <!-- <span>日添加量</span>
                                <span>321</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>总用户数</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                fsdfdsf
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>日注册量</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>总用户数</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                fsdfdsf
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>日注册量</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">新增数</li>
                            <li>活跃度</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                15
                            </div>
                            <div class="layui-tab-item">
                                22
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
    <script src="../../static/assets/layui.all.js"></script>
    <script src="../../static/assets/layui.js"></script>
    <script src="../../static/assets/console.js/"></script>
    <!-- <script>
     var element = layui.element;
    </script> -->
</body>
</html>